
# Created by https://www.gitignore.io/api/bower,npm

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

#!! ERROR: npm is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/bower,npm
