#editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

#ksql-wrapper {
    width: 45%;
}

.request {
    width: 100%;
    height: 200px;

    font-size: 20px;
    font-family: monospace;
}

textarea.request {
    resize: none;
}

.properties-wrapper {
    height: 200px;
    width: 45%;
    position: absolute;
    right: 10px;
    top: 10px;
}

.newProperty {
    margin: 10px 0;
}

#properties {
    height: 100%;
    width: 100%;

    margin-top: 5px;

    overflow-y: scroll;
}

.property {
    padding: 5px 0;
    margin: 5px 0;
}

span.property {
    padding: 5px;
    margin: 5px 0;
}

.loading {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

.response {
    width: 100%;
    height: 1000px;

    overflow-y: scroll;

    border: 2px solid gray;

    font-size: 20px;
}